body {
	background-color: #f7f7f7;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#wrapper {
	text-align: center;
	position: fixed;
	left: 50%;
	top: 35%;
	width: 480px;
	height: auto;
  	margin: 0 auto;
	margin-left: -240px;
	margin-top: -150px;
}

img {
	width: 130px;
	height: auto;
}

#information {
	margin: 0 auto;
	width: auto;
	height: 100%;
}

#information > h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 20px 0 15px 0;
	color: #1f3f52;
}

#information > #user > a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	margin: 0 auto;
	width: auto;
	text-decoration: none;
	color: #666666;
	padding: 5px 10px;
	transition: all .2s ease;
	border-radius: 2px;
}

#information > #user > a:hover {
	background-color: #fff;
  color: #808080;
}

#information > #user > p {
	color: #666666;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
  padding-top: 10px;
}

#information > #user > a > img {
	width: 12px;
	padding-right: 4px;
}


#social {
	width: inherit;
}

#social > a > img {
	width: 24px;
	height: auto;
	padding: 10px;
	cursor: pointer;
}

.follow {
	width: 100%;
	height: 100%;
	margin-top: 10px;
}

.follow > a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	margin: 0 auto;
	text-decoration: none;
	color: #666666;
	padding: 5px 10px;
	transition: all .2s ease;
	border-radius: 2px;
}

.follow > a:hover {
	background-color: #fff;
  color: #909090;
}

.follow > a > img {
	width: 11px;
	height: auto;
	padding-right: 7px;
}

.follow > #follow_me {
	margin-top: 30px;
}

.follow > #follow_me > a {
	border: 1px solid #99bbd4;
  border-radius: 2px;
	padding: 7px 20px;
	text-decoration: none;
	color: #99bbd4;
	font-family: 'roboto', sans-serif;
	font-weight: 300;
  font-size: 13px;
	transition: all .2s ease;
}

.follow > #follow_me > a:hover {
	background-color: #99bbd4;
	color: #fff;
}